
<br>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Kalastusrekisteri - Ryhmä XX</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/home"><i class="glyphicon glyphicon-home"></i></a></li>
				<li><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></li>
				<li><a href="#/results"><i class="glyphicon glyphicon-search"></i></a></li>
				<li><a href="#/settings"><i class="glyphicon glyphicon-cog"></i></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right"> 
				<li><a href="php/logout.php"><i class="glyphicon glyphicon-log-out"></i></a></li>
			</ul>
		</div>
	</div>
</nav>

<br>

<div class="container" style="margin-top:50px">

	<div class="well">
		<h4>Kyselyt:</h4>
		<div class="table-responsive">
		<table class="table">
		
		<thead>
				<tr>
					<th>Nimi:</th>
					<th>Alkaa:</th>
					<th>Päättyy:</th>
					<th>Tila:</th>
					<th>Toiminnot:</th>
				</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in polls">		
					<td>{{x.name}}</td>
					<td>{{x.start != null ? x.start : "-"}}</td>
					<td>{{x.end != null ? x.end : "-"}}</td>
					<td>{{x.status}}</td>
					<td align="right">
						<button type="button" title="Muokkaa perusasetuksia" class="btn btn-primary btn-sm" ng-click="fetchPoll(x.id)" data-toggle="modal" data-target="#editModal" ng-hide="x.status != 'Luotu'"><i class="glyphicon glyphicon-cog"></i></button>
						<button type="button" title="Muokkaa kysymyksiä" class="btn btn-primary btn-sm" ng-click="fetchTemplate(x.id)" data-toggle="modal" data-target="#editQuestionsModal" ng-hide="x.status != 'Luotu'"><i class="glyphicon glyphicon-list"></i></button>
						<button type="button" title="Julkaise" class="btn btn-success btn-sm" ng-click="saveId(x.id)" data-toggle="modal" data-target="#publishModal" ng-hide="x.status != 'Luotu'"><i class="glyphicon glyphicon-share-alt"></i></button>
						<button type="button" title="Poista" class="btn btn-danger btn-sm" ng-click="saveId(x.id)"data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-trash"></i></button>
						<button type="button" title="Poista" class="btn btn-danger btn-sm" ng-click="saveId(x.id)"data-toggle="modal" data-target="#endModal"><i class="glyphicon glyphicon-pause"></i></button>
					</td>
				</tr>
		</tbody>
		</table>
		</div>
	</div>
	
	<!-- Publish Modal-->
	<div class="modal fade" id="publishModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kyselyn julkaisu</h4>
        </div>
        <div class="modal-body">
          <p>Julkaistaanko kysely?</p>
        </div>
        <div class="modal-footer">
		<center>
			<button type="button" class="btn btn-default" ng-click="publish()">Julkaise</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
		</center>
        </div>
      </div>
    </div>
  </div>
	
	<!-- End Poll Modal-->
	<div class="modal fade" id="endModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kyselyn päättäminen</h4>
        </div>
        <div class="modal-body">
          <p>Päätetäänkö kysely?</p>
        </div>
        <div class="modal-footer">
		<center>
			<button type="button" class="btn btn-default" ng-click="endPoll()">Pysäytä</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
		</center>
        </div>
      </div>
    </div>
  </div>	
  
	<!-- Edit Poll Modal-->
	<div class="modal fade" id="editModal" role="dialog">
		<div class="modal-dialog">
    
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Kyselyn muokkaus</h4>
				</div>
			
				<div class="modal-body">
					<div class="form-group">
						<label for="usr">Kyselyn nimi:</label>
						<input type="text" class="form-control" ng-model="name" ng-change="check()">
					</div>
					<label>Päivämäärät:
						<input type="checkbox" ng-model="adddate" ng-change="check()">
					</label><br/>
					<div class="form-group" ng-show="adddate">
						<label>Alkamispvm:</label>
						<input type="date" class="form-control" ng-model="startdate" ng-change="check()">
					</div>
					
					<div class="form-group" ng-show="adddate">
						<label>Loppumispvm:</label>
						<input type="date" class="form-control" ng-model="enddate" ng-change="check()">
					</div>
					
				</div>
				
				<div class="modal-footer">
					<button class="btn btn-sm {{ok ? 'btn-success' : 'btn-disabled'}}" ng-disabled="!ok" ng-click="edit()">Päivitä</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
				</div>
			</div>
		</div>
	</div>	  
	
	<!-- Edit Questions Modal -->
	<div class="modal fade" id="editQuestionsModal" role="dialog">
		<div class="modal-dialog modal-xl">
    
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Kysymysten muokkaus</h4>
				</div>
			
				<div class="modal-body">

					<div class="panel-group" id="accordion">
			
						<div class="panel {{questionsStatus[x.num - 1] ? 'panel-success' : 'panel-danger'}}" ng-repeat="x in questions">
							<div class="panel-heading">
								
								<table style="width:100%;">
									<tr>
										<td data-toggle="collapse" href='{{"#" + x.num}}' data-parent="#accordion">
											{{x.num + ". " + x.question}}
										</td>
										<td align="right">
											<button type="button" title="Siirrä ylöspäin" class="btn btn-primary" ng-click="moveQuestion(true, x.num); checkQuestions()" ng-hide="x.num == 1"><i class="glyphicon glyphicon-chevron-up"></i></button>
											<button type="button" title="Siirrä alaspäin" class="btn btn-primary" ng-click="moveQuestion(false, x.num); checkQuestions()" ng-hide="x.num == questions.length"><i class="glyphicon glyphicon-chevron-down"></i></button>
											<button type="button" title="Poista" class="btn btn-danger" ng-click="deleteQuestion(x.num); checkQuestions()"><i class="glyphicon glyphicon-trash"></i></button>
										</td>
									</tr>
								</table>
								
							</div>
							
							<div id='{{x.num}}' class="panel-collapse collapse">
								<div class="panel-body">

									<div class="input-group">
										<span class="input-group-addon">?</span>
										<input type="text" class="form-control" placeholder="Kysymys" ng-model="x.question" ng-change="checkQuestions()">
									</div>

									<br>
									
									<h4>Kysymyksen tyyppi:</h4>
									
									<div class="row">
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="type in questionTypes">
											<table>
												<tr>
													<td><input type="radio" ng-model="x.type" value="{{type.id}}" ng-change="changeQuestionType(x)"></td>
													<td>{{type.name}}</td>
												</tr>
											</table>
										</div>
									</div>
									
									<div ng-hide="x.type < 100 || x.type > 199">
									
										<h4>Vaihtoehdot:</h4>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="y in x.extra">
												<div class="input-group">
													<span class="input-group-addon">{{y.num}}</span>
													<input type="text" class="form-control" placeholder="Vaihtoehto" ng-model="y.name" ng-change="checkQuestions()">
													<span class="input-group-addon btn btn-danger" ng-click="deleteChoice(x.num, y.num); checkQuestions()"><i class="glyphicon glyphicon-trash"></i></span>
												</div>
												
											</div>
											
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
												<button type="button" title="Lisää" class="btn btn-block btn-success input-group" ng-click="addChoice(x.num)"><i class="glyphicon glyphicon-plus"></i></button>
											</div>
										</div>

									</div>
									
									<div ng-hide="x.type < 200">
										
										<h4>Taulukko:</h4>
										
										<input type="text" class="form-control" ng-model="x.extra.header" placeholder="Otsikko (vapaaehtoinen)" ng-change="checkQuestions()">
										<br>
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<td></td>
														<th ng-repeat="col in x.extra.columns"><input type="text" class="form-control" title={{col.title}} placeholder="Sarakeotsikko" ng-model="col.title" ng-change="checkQuestions()"></th>
														<th><button type="button" title="Lisää" class="btn btn-block btn-success" ng-click="addColumn(x.num)"><i class="glyphicon glyphicon-plus"></i></button></th>
													</tr>
													
												</thead>
												
												<tbody>
													<tr>
														<td class="zeroHeight"></td>
														<th rowspan="{{questions[x.num-1].extra.rows.length + 1}}" ng-repeat="col in x.extra.columns">
															<p>Tyyppi:</p>
															<div ng-repeat="type in matrixInputTypes">
																<table>
																	<tr>
																		<td><input type="radio" ng-model="col.type" value="{{type.id}}"></td>
																		<td>{{type.type}}</td>
																	</tr>
																</table>
															</div>
														</th>
														
													</tr>
													<tr ng-repeat="row in x.extra.rows">
														<th><input type="text" class="form-control" placeholder="Riviotsikko" ng-model="row.title" ng-change="checkQuestions()"></th>
														
														<td><button type="button" title="Poista sarake" class="btn btn-block btn-danger" ng-click="deleteRow(x.num, row.num); checkQuestions()"><i class="glyphicon glyphicon-chevron-left"></i></button></td>
													</tr>
													
													
													<tr>
														<th><button type="button" title="Lisää" class="btn btn-block btn-success" ng-click="addRow(x.num)"><i class="glyphicon glyphicon-plus"></i></button></th>
														<td ng-repeat="col in x.extra.columns"><button type="button" title="Poista sarake" class="btn btn-block btn-danger" ng-click="deleteColumn(x.num, col.num); checkQuestions()"><i class="glyphicon glyphicon-chevron-up"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>								
						
					</div>	
					
					<button class="btn btn-block btn-success" title="Lisää kysymys" ng-click="addQuestion()"><i class="glyphicon glyphicon-plus"></i></button>
					
				</div>
				
				<div class="modal-footer">
					<button class="btn {{ok ? 'btn-success' : 'btn-disabled'}}" ng-disabled="!ok" ng-click="saveQuestions()">Päivitä</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Delete Modal-->
	<div class="modal fade" id="deleteModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Kyselyn poisto</h4>
			</div>
			<div class="modal-body">
			  <p>Poistetaanko kysely?</p>
			</div>
			<div class="modal-footer">
			<center>
				<button type="button" class="btn btn-default" ng-click="deletePoll()">Poista</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
			</center>
			</div>
		  </div>
		</div>
	  </div>
	  
</div>
