
<br>

<div class="container">

	<div class="well">
	
		
    <div class="form-group">
      <label for="email">Käyttäjätunnus:</label>
      <input type="email" class="form-control" placeholder="Käyttäjätunnus" ng-model="ktunnus">
    </div>
    <div class="form-group">
      <label for="pwd">Salasana :</label>
      <input type="password" class="form-control" placeholder="Salasana" ng-model="salasana">
    </div>
    <button ng-click="kirjaudu()" class="btn btn-default">Submit</button>
	<br>
	<br>
	<div class="alert alert-danger" ng-hide="virhe"><center>{{ error }}</center></div>
 
  
	</div>
	
</div>



