
<div class="btn-group btn-group-justified">
	<a href="#/home" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
	<a href="#/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
	<a href="#/results" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></a>
	<a href="#/settings" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i></a>
	<a href="php/logout.php" class="btn btn-primary"><i class="glyphicon glyphicon-log-out"></i></a>
</div>

<br>

<div class="container">
	<div class="well">	
		<div class="form-group">
			<label for="usr">Kyselyn nimi:</label>
			<input type="text" class="form-control" ng-model="name" ng-blur="check()">
		</div>
		<label>Ei päivämäärää:
			<input type="checkbox" ng-model="skipdate" ng-blur="check()">
		</label><br/>
		<div class="form-group">
			<label>Alkamispvm:</label>
			<input type="date" class="form-control" ng-model="startdate" ng-blur="check()">
		</div>
		
		<div class="form-group">
			<label>Loppumispvm:</label>
			<input type="date" class="form-control" ng-model="enddate" ng-blur="check()">
		</div>
		<br>
		<label>Kysymykset:</label>
		<div class="well">
			<label>Valmiit pohjat</label>
			<div class="form-group">
				<select ng-model="selectedtemplate">
					<option>Ei pohjaa</option>
					<option ng-repeat="x in templates" value="{{x.id}}">{{x.name}}</option>
				</select>
			</div>
		</div>
		<br><br>
		<!-- Testi nappi jolla voi tarkastaa lähetettävä template
		<button class="btn btn-lg btn-block"ng-click="testi()">testi</button> -->
		
		
		<button class="btn btn-lg btn-block {{ok ? 'btn-success' : 'btn-disabled'}}" ng-disabled="!ok" ng-click="saveEventInfo()">Seuraava</button>
	</div>
</div>